.about-us {
  background-color: #0c4a6e;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.about-us-title {
  font-size: 3rem;
  margin-top: 2rem;;
  color: white;
}

.about-us-text {
  font-size: 1rem;
  color: #ffffff;
  margin: 5rem;
  line-height: 1.7rem;
  text-align: justify;
}